@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.imgHome {
    max-width: 250px;
    float: right;
    margin: 5px;
    margin-top: -20px;
    animation: spin 5s linear infinite;
}