@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.imgHome {
    max-width: 250px;
    float: right;
    margin: 0 5px;
    animation: spin 5s linear infinite;
}

@media screen and (max-width: 646px) {
    .imgHome {
        max-width: 200px;
        float: none;
        display: block;
        margin: auto;
    }
}